.data
.env
.nuxt
.output
dist
node_modules

# vitepress build output
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

# special rules for `/demos` folder
# TODO trying to find a way how to re-use definition from core layer
demos/**/eslint.config.mjs
# no need to keep track on this for demo apps
demos/**/pnpm-lock.yaml

# Nuxt Ignis files
# configuration overview created upon Nuxt Ignis start
_ignis-config.json

# TODO ???
.nuxtrc
