.data
.env
.nuxt
.output
dist
node_modules

# vitepress build output
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

# special rules for `/demos` folder
# no need to keep track on demo apps lock files
demos/**/pnpm-lock.yaml

# Nuxt Ignis files
# configuration overview created upon Nuxt Ignis start
_ignis-config.json
_nuxt-config.json

# TODO ???
.nuxtrc

# nuxt-spec test files
__current__