# replace `<x>` placeholders with actual values and rename to `.env` to use

# example of configuring Ignis application via environment variables.
# 07-02-regexp - how to enable magic-regexp utility

NUXT_PUBLIC_IGNIS_REGEXP=true
