# replace `<x>` placeholders with actual values and rename to `.env` to use

# example of configuring Ignis application via environment variables.
# 06-01-content - how to enable Nuxt Content module

NUXT_PUBLIC_IGNIS_CONTENT_CONTENT_ENABLED=true
